<div class="pagination">
    <button (click)="onPageChange(1)" [disabled]="totalPages <= 1">First</button>
    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage <= 1">Prev</button>
    <button *ngFor="let page of [].constructor(totalPages); let i = index" (click)="onPageChange(i + 1)">
      {{ i + 1 }}
    </button>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage >= totalPages">Next</button>
    <button (click)="onPageChange(totalPages)" [disabled]="totalPages <= 1">Last</button>
  </div>
  